In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from nltk.tokenize import word_tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shahadaleissa/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
df= pd.read_csv('combined_dataset.csv')
df

                                               Reviews
0    كان لي تجربه اكثر من رائعة اليوم في هذا الفرع ...
1    اسوء خدمة شركة اتصالات على المستوى العربي كله ...
2    اشكر الموظفة ضيء على تعاملها ورقيها وخدمتها لي...
3    اسوأ نت في العالم عانيت مليون مرررررا منهم رفع...
4    الفرع جداً ممتاز وأشكر الأخوات الموظفات على رح...
..                                                 ...
454  إنترنت لا محدود / سرعة 200 ميقا    .  . . .  #...
455  إنترنت لا محدود / سرعة 200 ميقا    .  . . .  #...
456  سرعة عالية 200ميجا . . . . . . . . . . 🤍💚  #ال...
457  سرعة عالية 200ميجا . . . . . . . . . . 🤍💚  #ال...
458  كيف اشترك فيها ؟ لان ما تطلع  لي بالتطبيق الا ...

[459 rows x 1 columns]

In [5]:
def count_duplicates(df):
    """
    Counts the number of duplicate rows in the given DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame in which to find duplicates.

    Returns:
    int: The number of duplicate rows in the DataFrame.
    """
    # Count duplicate rows, excluding the first occurrence
    duplicates_count = df.duplicated(keep='first').sum()
    return duplicates_count

In [6]:
count_duplicates(df)

65

In [7]:
def remove_duplicates(df, subset=None, keep='first', inplace=False):
    """
    Removes duplicate rows from the given DataFrame.

    Parameters:
    df (pd.DataFrame): The DataFrame from which to remove duplicates.
    subset (list of str, optional): Column labels to consider for identifying duplicates. 
                                    If None, consider all columns.
    keep ({'first', 'last', False}, default 'first'): Determines which duplicates (if any) to keep.
                                                      - 'first': Drop duplicates except for the first occurrence.
                                                      - 'last': Drop duplicates except for the last occurrence.
                                                      - False: Drop all duplicates.
    inplace (bool, default False): Whether to drop duplicates in place or to return a copy.

    Returns:
    pd.DataFrame or None: A new DataFrame with duplicates removed, if inplace=False. 
                          None if inplace=True.
    """
    if inplace:
        df.drop_duplicates(subset=subset, keep=keep, inplace=True)
    else:
        return df.drop_duplicates(subset=subset, keep=keep)

In [8]:
remove_duplicates(df, inplace=True)

In [10]:
count_duplicates(df)

0

In [12]:
df.isna().sum()

Reviews    1
dtype: int64

In [13]:
df.dropna(inplace=True)

In [14]:
df.isna().sum()

Reviews    0
dtype: int64

## using aranorm for arabic text processing

In [11]:
import aranorm

In [15]:
df['Reviews']=df['Reviews'].apply(aranorm.normalize_tweet)

In [16]:
df

                                               Reviews
0    كان لي تجربه اكثر من راءعه اليوم في هذا الفرع ...
1    اسوء خدمه شركه اتصالات علي المستوي العربي كله ...
2    اشكر الموظفه ضيء علي تعاملها ورقيها وخدمتها لي...
3    اسوا نت في العالم عانيت مليون مرررررا منهم رفع...
4    الفرع جدا ممتاز واشكر الاخوات الموظفات علي رحا...
..                                                 ...
452                                               قويه
453             انترنت لا محدود سرعه ميقا زين السعوديه
455             انترنت لا محدود سرعه ميقا زين السعوديه
456     سرعه عاليه ميجا ال زين يارب وماخاب من قال يارب
458  كيف اشترك فيها لان ما تطلع لي بالتطبيق الا اذا...

[393 rows x 1 columns]

In [17]:
count_duplicates(df)

6

In [18]:
remove_duplicates(df, inplace=True)

In [19]:
count_duplicates(df)

0